# Condicionais

In [12]:
nota = 10
frequencia = 0.7

if frequencia >= 0.75
    if nota >= 7
        println("Aprovado")
    elseif nota >= 6
        println("Recuperação")
    else
        println("Reprovado")
    end
else 
    println("Reprovado")
end

Reprovado

# Operador ternario

In [15]:
idade = 17
(idade >= 18) ? println("Você já tem $idade anos, pode entrar") : println("Você tem $idade anos, não poderá entrar")

Você tem 17 anos, não poderá entrar

## Faça um programa que imprima os numeros impares e multiplos de 5 de 1 a 100

In [21]:
for n in 1:100
    if (n % 2 == 1) && (n % 3 == 0)
        println(n)
    end
end

3
9
15
21
27
33
39
45
51
57
63
69
75
81
87
93
99

# Funções

In [24]:
function tabuada(x)
    println("TABUADA DO $x")
    for n in 1:10
        println("$n x $x = $(n*x)")
    end
end

tabuada (generic function with 1 method)

In [26]:
tabuada(7)

TABUADA DO 7
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

In [28]:
tabuada2(x) = [println("$n x $x = $(n * x)") for n in 1:10]

tabuada2 (generic function with 1 method)

In [29]:
tabuada2(5)

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

10-element Vector{Nothing}:
 nothing
 nothing
 nothing
 nothing
 nothing
 nothing
 nothing
 nothing
 nothing
 nothing

# Funções built in

In [30]:
idades = [3,11,45,39,17]
idades

5-element Vector{Int64}:
  3
 11
 45
 39
 17

In [33]:
sort!(idades)

5-element Vector{Int64}:
  3
 11
 17
 39
 45

In [42]:
tab = [1,2,4,6,8]
map(tabuada,tab)

TABUADA DO 1
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
TABUADA DO 2
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
TABUADA DO 4
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
TABUADA DO 6
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
TABUADA DO 8
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

5-element Vector{Nothing}:
 nothing
 nothing
 nothing
 nothing
 nothing

# funçao in line - é executada sem um nome

In [43]:
map(x -> x^2, tab)

5-element Vector{Int64}:
  1
  4
 16
 36
 64

# Calculo de matrizes

In [44]:
a = rand(1:5,3,3)
b = fill(2, (3,))
println(a)
println(b)

[5 5 4; 1 3 4; 1 1 1]
[2, 2, 2]

In [45]:
x = a * b

3-element Vector{Int64}:
 28
 16
  6

- 28 → 5*2 + 5*2 + 4*2
- 16 → 1*2 + 3*2 + 4*2
- 6  → 1*2 + 1*2 + 1*2

# Transposição de matriz 
- transpose(variavel da matriz)
- variavel da matriz'

In [46]:
transpose(a)

3×3 transpose(::Matrix{Int64}) with eltype Int64:
 5  1  1
 5  3  1
 4  4  1

In [47]:
a'

3×3 adjoint(::Matrix{Int64}) with eltype Int64:
 5  1  1
 5  3  1
 4  4  1

### Transposição da matriz a multiplicado pela matriz a original

In [48]:
a'a

3×3 Matrix{Int64}:
 27  29  25
 29  35  33
 25  33  33